img {
  width: 100px;
}

input:checked+label {
  border: 2px solid #ccc;
}

input {
  display: none;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

